{% extends "base.html" %}

{# номер лабораторной работы #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/a">/lab2/a</a> -- маршрут без слеша</li>
        <li><a href="/lab2/a/">/lab2/a/</a> -- маршрут со слешем</li>
        <li><a href="/lab2/example">example</a></li>
        <li><a href="/lab2/filters">filters</a></li>
        <li><a href="/lab2/flowers/0">flowers/0</a> -- пример просмотра первого цветка</li>
        <li><a href="/lab2/all_flowers">all_flowers </a>   -- все цветы </li>
        <li><a href="/lab2/add_flower/нарцисс">add_flower/нарцисс</a> -- добавление цветка</li>
        <li><a href="/lab2/add_flower/">add_flower/ </a> -- добавить несуществующий цветок</li>
        <li><a href="/lab2/del_flower/0">del_flower/0 </a>-- удалить цветок с индексом 0</li>
        <li><a href="/lab2/del_flower/100">del_flower/100 </a>--удалить цветок с несуществующим индексом</li>
        <li><a href="/lab2/clear_flowers">clear_flowers </a> -- очистить список цветов</li>
        <li><a href="/lab2/calc/">calc </a>-- по умолчанию 1 и 1</li>
        <li><a href="/lab2/calc/10">calc/10 </a>-- пример с одним числом</li>
        <li><a href="/lab2/calc/25/2">calc/25/2 </a> -- пример с двумя числами</li>
        <li><a href="/lab2/books">books </a> -- список книг</li>
        <li><a href="/lab2/chocolate">chocolate </a> --шоколадные батончики</li>
    </ol>
{% endblock %}