{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    {% if user %}
    <h1>Привет, {{ user }}!</h1>
    <h2> Добро пожаловать на наш сайт!</h2>

    <div>Ваш возраст: {{ age }} </div>
    <div>Ваш пол: {{'Мужской' if sex== 'male' else 'Женский'}} </div>
    <div style="text-align:center;margin-top:30px;">
    <a href="/lab3" style="color:#d81b60;text-decoration:none;font-weight:bold;font-size:16px;padding:10px 20px;border:2px solid #f8bbd9;border-radius:25px;transition:all 0.3s;">Вернуться на главную</a>
    </div>
    <div>
        <a href="/lab3/form1">Заново</a>
    </div>

    {% else %}
    <h1>Пользователь</h1>
    <form>
        <label>Ваше имя:</label>
        <div>
            <input type="text" placeholder="Как вас зовут?" name="user" value="{{user or ''}}">
            <span class="error" style="color: #e75480; padding: 2px 8px; border-radius: 3px; transition: all 0.3s ease;" onmouseover="this.style.backgroundColor='#fff0f5'; this.style.boxShadow='0 0 8px rgba(255, 105, 180, 0.5)'" onmouseout="this.style.backgroundColor=''; this.style.boxShadow='none'"> {{errors.user}}</span>
        </div>
        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" value="{{age or ''}}">
            <span class="error" style="color: #e75480; padding: 2px 8px; border-radius: 3px; transition: all 0.3s ease;" onmouseover="this.style.backgroundColor='#fff0f5'; this.style.boxShadow='0 0 8px rgba(255, 105, 180, 0.5)'" onmouseout="this.style.backgroundColor=''; this.style.boxShadow='none'"> {{errors.user}}</span>
        </div>
        <label>Ваш пол:</label>
        <div>
            <select name="sex">
                <option value="male"{{sex=='male' and 'selected'}}>Мужской</option>
                <option value=" female" {{sex == 'female' and 'selected'}}>Женский</option>
            </select>
        </div>
        <div>
            <button type="sumbit">Отправить</button>
        </div>
        <div style="text-align:center;margin-top:30px;">
            <a href="/lab3" style="color:#d81b60;text-decoration:none;font-weight:bold;font-size:16px;padding:10px 20px;border:2px solid #f8bbd9;border-radius:25px;transition:all 0.3s;">Вернуться на главную</a>
        </div>
    </form>

    {% endif %}
{% endblock %}